snippet fixme "fixme reminder" b!
-- FIXME(`echo $USER`${2}|`!v strftime("%Y-%m-%d")`): ${1:desc}
endsnippet

snippet note "note reminder" b!
-- NOTE(`echo $USER`${2}|`!v strftime("%Y-%m-%d")`): ${1:desc}
endsnippet

snippet todo "todo reminder" b!
-- TODO(`echo $USER`${2}|`!v strftime("%Y-%m-%d")`): ${1:desc}
endsnippet

snippet psl "PutStrLn" b!
putStrLn "${0}"
endsnippet
