snippet todo "todo reminder" b!
// TODO: ${1:desc} (`!v strftime("%Y.%m.%d_%H%M")`, `echo $USER`)
endsnippet

snippet fixme "fixme reminder" b!
// FIXME: ${1:desc} (`!v strftime("%Y.%m.%d_%H%M")`, `echo $USER`)
endsnippet

snippet func "function" b!
function ${1:name}(${2:arg1, arg2}) {
  ${0:pass}
}

endsnippet

snippet cons "console.log()" b!
console.log("${0}");
endsnippet
