snippet #!2 "Shebang header for python2 scripts" b
#!/usr/bin/env python2
# encoding: utf-8
$0
endsnippet

snippet #!3 "Shebang header for python3 scripts" b
#!/usr/bin/env python3
# encoding: utf-8
$0
endsnippet

snippet todo "todo reminder"
# TODO: ${1:desc} (`!v strftime("%Y.%m.%d_%H%M")`, `echo $USER`)
endsnippet

snippet fixme "fixme reminder"
# FIXME: ${1:desc} (`!v strftime("%Y.%m.%d_%H%M")`, `echo $USER`)
endsnippet

